@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #000009;
  --text-color: #fff;
  --fs-large: 2rem;
  --gap: 2rem;
  --card-bg: #222831;
  --litebl: rgb(32, 98, 226);
  --darkbl: rgb(32, 42, 132);
  --body-bg: linear-gradient(180deg, #430f22 0%, #200422 100%);
}
/* 1rem ==> 10px */
/* Ensure you are using rem instead of pixel(px) */

body {
  font-family: Poppins, sans-serif;
  background: var(--body-bg) no-repeat;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
}

/* this causes the contents inside not to get too wide */
.row {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

.role,
.gender {
  font-size: 1.2rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
}

header {
  /* position sticky so that it takes its position just as relative and also scrolls along with the screen */
  position: sticky;
  z-index: 1;
  left: 0;
  top: 0;
  color: var(--text-color);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.06);
  /* makes content underneath it blurry */
  backdrop-filter: blur(10px);
}

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 5rem;
  font-size: clamp(1rem, 5vw, var(--fs-large));
}

header > * {
  flex: 1;
}

.grid-container {
  position: relative;
  padding-block: 5rem;
  /* 15px at the top, because of the image transition effect on card over, */
  padding-top: 15rem;
  display: grid;
  padding-inline: 5rem;
  grid-auto-columns: 1fr;
  /* repeat(auto-fill, minmax(270px, 1fr)) means that grid should fill the entire row with as much
  cards as it can as long as the width is not less than 270px
  autofill the grid should not expand a card even if theres an empty space beside it e.g a row 
  that has 2 cards when the others have 3
  */
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  row-gap: 100px;
  column-gap: 50px;
}

.card {
  position: relative;
  /* 10px at the top, because of the image transition effect on card over, 3rem left and right and 5 rem at the bottom */
  padding: 10rem 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  /* this linear gradient gives the card a glass effect */
  background: linear-gradient(
    155.88deg,
    rgba(255, 255, 255, 0.2) -14.4%,
    rgba(217, 217, 217, 0) 99.94%
  );
  box-shadow: 0px 25px 24px rgba(0, 0, 0, 0.15);
  /* this makes content underneath the card blury i.e the background balls */
  backdrop-filter: blur(20px);
  border-radius: 20px;
  /* isolation isolate creates a new stacking contect insde of it, 
  so zindex doesnt go outside of it, you can check MDN docs for 
  more details or conect with me */
  isolation: isolate;
  /* the borders make the glass look thick */
  border-top: 1px solid #ffffff80;
  border-left: 1px solid #ffffff80;
  text-align: center;
  cursor: pointer;
}

.card .shimmer {
  position: absolute;
  /* inset means the offset value of this element from its positioned parent 
  in shot, it means top 0, left 0, right 0, bottom 0
  */
  inset: 0;
  /* overflow hidden so the actuall shimmer which is the before psuedo-element 
  does not over show outside of the card during its animation effect */
  border-radius: 20px;
  overflow: hidden;
}

.card .shimmer::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 600px;
  height: 100%;
  transform: skew(45deg) translate(600px);
  background-image: linear-gradient(90deg, transparent 25%, #ffffff50 50%, transparent 75%);
  content: "";
  transition: transform 500ms ease-out;
}

.card:hover .shimmer::before {
  transform: skew(45deg) translate(-600px);
}

.balls {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.ball {
  background: linear-gradient(
    135.24deg,
    #dd3d3d 6.78%,
    #7b0b11 33.79%,
    #1e0204 60.8%,
    #000000 87.8%
  );
  mix-blend-mode: screen;
  position: absolute;
  width: 295px;
  height: 295px;
  border-radius: 50%;
  z-index: -2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-image {
  position: absolute;
  /* nice trick to center stuff in css */
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transition: top 400ms ease-out;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 1.625rem;
}

.card:hover .profile-image {
  gap: 1.7rem;
}

.profile-image img {
  border: 20px solid transparent;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  scale: 1;
  transition: backdrop-filter 400ms ease-out, border-color 400ms ease-out, scale 400ms ease-out;
}

/* media query for devices that dont support touch eg touchescreens ike mobile devices and tabs, i want the hovered
  state to be applied by default to the cards
*/
@media (hover: none) {
  .card .profile-image {
    top: 0;
  }
  .card .profile-image img {
    scale: 1.2;
    backdrop-filter: blur(30px);
    border-color: rgba(255, 255, 255, 0.14);
  }
}

.card:hover .profile-image {
  top: 0;
}
.card:hover .profile-image img {
  scale: 1.2;
  backdrop-filter: blur(30px);
  border-color: rgba(255, 255, 255, 0.14);
}

.full-name {
  margin: 1.2rem 0;
  font-size: 3.2rem;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  text-align: center;
}

.postx,
.gender {
  font-weight: 400;
  font-size: 1.4rem;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 9px;
}

.social-icons i {
  color: var(--text-color);
  transition: all 265ms ease-out;
  font-size: 2.4rem;
}

.social-icons a {
  display: inline-grid;
  place-items: center;
  border-radius: 50%;
  width: 4.4rem;
  height: 4.4rem;
  background-color: rgba(255, 255, 255, 0.17);
}

.container {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
}

.role {
  padding: 0.3rem 1rem;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  color: white;
}

.gender {
  font-weight: 600;
}

.aspect-ratio {
  aspect-ratio: 1/1;
}

/* media query is for devices that do support hover eg devices that use cursors, like Laptops and Desktops */
@media not (hover: none) {
  /* adding starting point transition to all the elements in the card */
  .card .full-name,
  .card .container .postx,
  .card .container .gender,
  .card .social-icons {
    translate: 0% 30px;
    opacity: 0;
    transition: translate ease-out 500ms, opacity ease-out 500ms;
  }
}

/* adding ending point transition for when the card is hovered on */
.card:hover .full-name,
.card:hover .container .postx,
.card:hover .container .gender,
.card:hover .social-icons {
  translate: 0% 0px;
  opacity: 1;
}

/* setting incremental transition delay so as to create a staggered effect */
.card:hover .full-name {
  transition-delay: 200ms;
}
.card:hover .container .postx {
  transition-delay: 400ms;
}
.card:hover .container .gender {
  transition-delay: 600ms;
}
.card:hover .social-icons {
  transition-delay: 800ms;
}

@supports not (aspect-ratio: 1/1) {
  /* 	CSS workaround for browsers like some Safari not supporting aspect-ratio */
  .aspect-ratio::before {
    content: "";
    padding-top: 100%;
  }

  .aspect-ratio::after {
    content: "";
    display: table;
    clear: both;
  }
}

/* input */
.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 10px;
  gap: 10px;

  width: 100%;
  max-width: 300px;

  background: rgba(255, 255, 255, 0.08);
  border-radius: 34px;
}

.search-bar svg {
  flex-grow: 1;
}

.search-bar input {
  width: 100%;
  border: none;
  font-size: 1.2rem;
  color: white;
  background-color: transparent;
}
.search-bar input:focus {
  outline: none;
}

.search-bar input::placeholder {
  font-size: 1.2rem;
  color: inherit;
  opacity: 0.8;
}
