@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

:root {
  --primary-color: #000009;
  --text-color: #fff;
  --fs-large: 2rem;
  --gap: 2rem;
  --card-bg: #222831;
  --litebl: rgb(32, 98, 226);
  --darkbl: rgb(32, 42, 132);
}
/* 1rem ==> 10px */
/* Ensure you are using rem instead of pixel(px) */
h2 {
  font-size: 2rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
}
header {
  height: 8rem;
  position: fixed;
  z-index: 1;
  background-color: var(--primary-color, #000);
  left: 0;
  right: 0;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  font-size: clamp(1rem, 5vw, var(--fs-large));
}
header > * {
  flex: 1;
}
.grid-container {
  padding-top: 10rem;
  padding-bottom: 2rem;
  display: grid;
  padding-inline: 2rem;
  grid-auto-columns: 1fr;
  gap: var(--gap, 1rem);
  font-family: "Baloo Paaji 2", cursive;
}

.card {
  background-color: var(--card-bg);
  padding: 3rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.5rem 1rem var(--primary-color);
  color: var(--text-color);
}

.card:hover {
  cursor: pointer;
  background-color: #020018;
}

.profile-image {
  position: relative;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  display: flex;
  border: 0.5rem solid #272133;
  margin-top: 2rem;
  box-shadow: 0 1rem 5rem var(--litebl);
}

.full-name {
  margin: 1.2rem 0;
  font-size: 2.1rem;
  font-weight: 600;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em 1em 0;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
}

.social-icons i {
  color: var(--text-color);
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  transition: all 265ms ease-out;
  font-size: 1.6rem;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: block;
  background: linear-gradient(45deg, var(--litebl), var(--darkbl));
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 0.25s ease-in;
}

.social-icons a:hover i {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  color: var(--litebl);
  background: -webkit-linear-gradient(45deg, var(--litebl), var(--darkbl));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.25s ease-in;
}

.container {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
}

.role {
  position: absolute;
  bottom: -0.6rem;
  right: -0.6rem;
  padding: 0.3rem 1rem;
  background: var(--card-bg);
  border-radius: 0.8rem;
  font-size: 1.4rem;
}

.gender {
  font-weight: 600;
}

.aspect-ratio {
  aspect-ratio: 1/1;
}

@supports not (aspect-ratio: 1/1) {
  /* 	CSS workaround for browsers like some Safari not supporting aspect-ratio */
  .aspect-ratio::before {
    content: "";
    padding-top: 100%;
  }

  .aspect-ratio::after {
    content: "";
    display: table;
    clear: both;
  }
}

/* input */
input[type="search"] {
  padding: 2rem;
  height: 4rem;
  max-width: 30rem;
  width: 100%;
  border-radius: 20rem;
  border: none;
  font-size: 1.2rem;
}
::placeholder {
  font-size: 1.2rem;
}

/* media queries */

@media screen and (min-width: 38.72rem) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 56.72rem) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 75rem) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
